@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-para1: #000000;
  --color-para2: #767676;
  --color-divider: #000000;

  --breakpoint-xs: 480px;
}

@layer base {
  :root {
    font-family: "Instrument Sans", sans-serif;
    @apply bg-background text-para1;
  }

  h1 {
    @apply text-[44px] leading-[110%] font-normal tracking-[-5%] md:text-[64px];
  }

  h2 {
    @apply text-[24px] leading-[110%] font-normal tracking-[-3%] md:text-[30px] xl:text-[37px];
  }

  h3 {
    @apply text-[30px] leading-[100%] font-normal tracking-[-2%];
  }

  h4 {
    @apply text-[24px] leading-[100%] font-normal tracking-[-5%];
  }

  h5 {
    @apply text-[15px] leading-[110%] font-semibold tracking-[-3%] md:text-[16px];
  }

  p {
    @apply text-[15px] leading-[110%] font-normal tracking-[-3%] md:text-[16px];
  }
}

@layer components {
  .navlink {
    @apply text-[20px] leading-[-5%] hover:underline;
  }
}

@utility no-scrollbar {
  scrollbar-width: none;
}

@utility para1 {
  @apply text-[20px] leading-[121%] tracking-[-5%];
}
